html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-weight: 400; */
    /* display: flex;
    flex-direction: column;
    flex: 1; */
    /* justify-content: space-between; */
    /* min-width: 524px; */
}

.container-one {
    background-color: lightpink;
    padding: 0px 0px;
}

.container-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.narrator-text {
    padding: 32px;
    color: black;
    text-align: center;
    line-height: 32px;
    height: 30px;
}

.btn {
    width: 112px;
    height: 48px;
    margin: 16px;
    padding: 12px;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
    align-items: center;
    color: pink;
}


#header-logo {
    max-width: 96px;
    max-height: 96px;
    padding: 12px;
}

.fist-img {
    max-height: 120px;
}

#box-left,
#box-right {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation-box {
    width: 500px;
    height: 250px;
    margin: 32px;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.names {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin-bottom: 64px;
}

.title {
    font-size: 32px;
    color: pink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.page-header {
    display: flex;
    background-color: black;
    justify-content: center;
    padding: 30px 0px;
    ;
}